svg {
    overflow: hidden;
    vertical-align: middle;
    width: 126px;
    height: auto;
    color: teal;
}
.image1 {
        padding-top: 146px;
        background-color:whitesmoke;
    }

.h6, h6 {
    font-size: 1rem;
    text-align: end;
    margin-top: -424px;
    padding-right: 179px;
}
.no-gutters{
/* background-color: cyan; */
margin-right: 0px;
padding-top: 389px;
padding-bottom: 30px;
}
/* .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
    padding: 31px;
} */
body{
    margin: 0px;
    padding: 0px;
    /* position: absolute; */
}
svg {
    overflow: hidden;
    vertical-align: middle;
    width: 126px;
    height: auto;
    color: teal;
    width: 43px;
}
div#list-tab {
    margin-left: 17px;
    margin-block-start: -53px;
}
.badge-pill{
    float: right;
}
.bg-dark {
    background-color: #44003324!important;
}
li.nav-item {
    color: aliceblue;
}
.navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: black;
}
.row.menu-bar {
    margin: 209px;
    background-color: black;
    width: 1340px;
    margin-left: 9px;
    font-weight: 100;
    margin-top: 186px;
}

.nav-link {
    padding-right: 14px;
}

.parent-box{
margin-left: 102px;
background-color:white;
display: flex;
margin-top: -126px;
width: 782px;
}
.box{
     width:  1018px; 
     /* height: 215px;  */
    background-color: white;
    margin:30px;
}
.parent-box-4{
    margin-top: -124px;
    background-color:white;
    display: flex;
    margin-left: 138px;
    margin-right: 95px;
     
}
.box-4{
    margin:30px;
    width:  1018px; 
     /* height: 215px; */
}
.parent-boxl2{
    width: 782px;
    margin-left: 116px;
    margin-right: 95px;
    background-color:white;
    display: flex;
    margin-top: 24px;
}
.boxl2{
    margin:30px;
    width:  1018px;
}
.parent-boxl2_2{
    background-color:white;
    width: 198px;
    margin-top: 24px;
    margin-right: 95px;
    margin-left: 132px;
    display: flex;
}
.boxl2_2{
    margin:30px;
}
.row.global-contain {
    margin-left: 23px;
}
.container {
    margin-top: 99px;
}
.video-title {
    margin-left: 68px;
    font-size: small;
}
a {
    color: #fff;
}

.carousel-inner {
    margin-right: 675px;
    margin-top: 69px;
}





.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

/* .padding {
    padding: 0rem;
} */

.owl-carousel .item {
    margin: 3px
}

.owl-carousel .item img {
    display: block;
    /* width: 100%; */
    height: auto
    
    
}

.owl-carousel .item {
    margin: 3px
}

.owl-carousel {
    margin-bottom: 15px
}


.owl-carousel {
    margin-bottom: 15px;
    display: flex;
    /* margin-left: 170px; */
}

.cardre {
    margin-top: 34px;
    margin-bottom: 22px;
}

.card1-group {
    margin-top: 42px;
    margin-bottom: 29px;
}

.card-img, .card-img-bottom, .card-img-top {
    
    width: 100%;
    margin-left: 3px;
    /* margin-top: -6px; */
    margin-bottom: 16px;
}

.card-group {
    margin-bottom: 50px;
}

.card-header {
    text-align: center;
    background-color: darkgray;
}
/* .container {
    margin-top: 99px;
    background-color: steelblue;
} */

.card-title {
     background-color: darkgray; 
}

p {
    text-align: center;
    margin-right: -54px;
}

.card-title {
    text-align: center;
}

p.footer2 {
    float: left;
}

.img_footer {
    float: right;
}

/* footer.pt-4.my-md-5.pt-md-5.border-top {
    background-color: black;
} */

/* .row.main-contain {
    background-color: aqua;
} */

 
